@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.popout {
		border-radius: 9px;
		box-shadow: 3px 3px 8px #27272a, -3px -3px 8px #5d5d5d;
	}
	.tealpopin {
		border-radius: 9px;
		background: #2dd4bf;
		box-shadow: inset 5px 5px 10px #25ae9d, inset -5px -5px 10px #35fae1;
	}
}
@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.bg-code {
		background-color: rgb(40, 42, 54);
	}

	.blinking-cursor::after {
		content: "|";
		animation: blink 1s step-end infinite;
	}
	.speech:before {
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		border-left: 20px solid transparent;
		border-right: 25px solid #27272a;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		left: -45px;
		top: 100px;
		opacity: 20%;
	}
	@keyframes blink {
		from,
		to {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
}
