.container {
	background: lightblue;
	cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
			24 24,
		auto;
}

.deck {
	top: 35%;
	left: 10%;
	position: absolute;
	width: 300px;
	height: 120px;
	will-change: transform;
	display: flex;
	align-items: center;
	justify-content: center;
}

.deck > div {
	touch-action: none;
	background-color: transparent;
	background-size: auto 85%;
	background-repeat: no-repeat;
	background-position: center center;
	width: 45vh;
	max-width: 360px;
	height: 85vh;
	max-height: 440px;
	will-change: transform;
	border-radius: 10px;
}
